* {
  font-family: 'Boku';
  margin: 0;
  padding: 0;
}

img { vertical-align: bottom; }

input, textarea {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  border-radius: 0;
}

a { text-decoration: none; }

iframe { border: none; }

#root {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}
