html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Boku';
  color: #4c4c4c;
}

img { vertical-align: bottom; }

a {
  color: rgb(0,150,255);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

li { list-style: none; }

input, textarea {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  border-radius: 0;
}

iframe { border: none; }
