@include pc-layout {
  .calling {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;
    background-color: $theme-purple;
    z-index: 1001;
  }

  /*** bg ***/
  .calling__bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    div {
      position: relative;
      float: left;
      width: 25%; height: 25%;
      overflow: hidden;

      &::after {
        content: ""; display: block;
        width: 100%; height: 100%;
        background-color: #333;
        transform: translateX(-100%);
      }
    }

    &::after { content: ""; display: block; clear: both; }
  }

  /*** controls-btn ***/
  .calling__controls-btn {
    position: absolute;
    bottom: 200px; left: calc(50% - 250px);
    width: 500px; height: 80px;

    .btn {
      position: absolute; top: 0;
      width: 80px; height: 80px;
      overflow: hidden;
      border-radius: 15px;
      transform: rotate(45deg);

      .fa-phone {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        font-size: 45px;
        text-align: center;
        line-height: 80px;
        display: block;
        opacity: 0;
      }
      
      div {
        position: absolute;
        &::after {
          content: ""; display: block;
          width: 100%; height: 100%;
          background-color: rgba(255,255,255,0.6);
        }
      }
      div:nth-child(1),
      div:nth-child(3) { left: 0; width: 100%; height: 2px; }
      div:nth-child(2),
      div:nth-child(4) { top: 0; width: 2px; height: 100%; }
      div:nth-child(1) {
        top: 0;
        &::after { transform: translateX(100%); }
      }
      div:nth-child(2) {
        left: 0;
        &::after { transform: translateY(-100%); }
      }
      div:nth-child(3) {
        bottom: 0;
        &::after { transform: translateX(-100%); }
      }
      div:nth-child(4) {
        right: 0;
        &::after { transform: translateX(100%); }
      }
    }
    .btn-1 {
      left: 0;
      .fa-phone { color: #af5853; transform: rotate(180deg); }
    }
    .btn-2 {
      right: 0;
      .fa-phone { color: #6C9A7B; transform: rotate(45deg); }
    }
  }

  .calling[data-state="start"] {
    /*** bg ***/
    .calling__bg {
      div:nth-child(1):after,
      div:nth-child(2):after,
      div:nth-child(3):after,
      div:nth-child(4):after { animation: slide-right 0.4s ease 0s forwards; }
      div:nth-child(5):after,
      div:nth-child(6):after,
      div:nth-child(7):after,
      div:nth-child(8):after { animation: slide-right 0.4s ease 0.1s forwards; }
      div:nth-child(9):after,
      div:nth-child(10):after,
      div:nth-child(11):after,
      div:nth-child(12):after { animation: slide-right 0.4s ease 0.2s forwards; }
      div:nth-child(13):after,
      div:nth-child(14):after,
      div:nth-child(15):after,
      div:nth-child(16):after { animation: slide-right 0.4s ease 0.3s forwards; }
    }

    /*** controls-btn ***/
    .calling__controls-btn {
      .btn-1 {
        div:nth-child(1):after { animation: slide-left 0.6s ease 0.7s forwards; }
        div:nth-child(2):after { animation: slide-bottom 0.6s ease 0.7s forwards; }
        div:nth-child(3):after { animation: slide-right 0.6s ease 0.7s forwards; }
        div:nth-child(4):after { animation: slide-top 0.6s ease 0.7s forwards; }
        .fa-phone { animation: calling__show-btn-1 0.7s ease 1s forwards; }
      }
      .btn-2 {
        div:nth-child(1):after { animation: slide-left 0.6s ease 0.9s forwards; }
        div:nth-child(2):after { animation: slide-bottom 0.6s ease 0.9s forwards; }
        div:nth-child(3):after { animation: slide-right 0.6s ease 0.9s forwards; }
        div:nth-child(4):after { animation: slide-top 0.6s ease 0.9s forwards; }
        .fa-phone { animation: calling__show-btn-2 0.7s ease 1.2s forwards; }
      }
    }
  }
}
