@include pc-layout {
  .memories-page {}

  .memories-box {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;

    a {
      position: relative;
      float: left;
      display: block;
      width: 290px; height: 250px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: $theme-light-purple;
      overflow: hidden;
      padding: 5px;
      box-sizing: border-box;
      transition: all 0.35s ease 0s;

      img {
        width: 100%;
        display: block;
      }

      .title {
        font-size: 16px;
        color: $theme-bg;
        padding: 5px;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .date {
        position: absolute;
        bottom: 0; right: 0;
        font-size: 12px;
        color: #ccc;
        text-align: right;
        display: block;
        padding: 5px;
        box-sizing: border-box;
      }
    }
    a:nth-child(2n) { margin-right: 0; }
    a:hover { background-color: $theme-pink; }

    &:after { content: ""; display: block; clear: both; }
  }
}
