@include pc-layout {
  #load-view {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;

    /**
     * frame
     */
    .frame {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: $theme-pink;

      /*** direction ***/
      .direction {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        .left,
        .right {
          position: absolute;
          left: calc(50% - 57.5px);
          width: 115px; height: 35px;
          
          div {
            float: left;
            width: 0; height: 0;
            margin-top: 2.5px;
            margin-right: 20px;
            border-top: solid 15px transparent;
            border-bottom: solid 15px transparent;
            opacity: 0.1;
          }
          div:last-child { margin-right: 0; }
          &::after { content: ""; display: block; clear: both; }
        }
        .bottom,
        .top {
          position: absolute;
          top: calc(50% - 57.5px);
          width: 35px; height: 115px;

          div {
            width: 0; height: 0;
            margin-left: 2.5px;
            margin-bottom: 20px;
            border-left: solid 15px transparent;
            border-right: solid 15px transparent;
            opacity: 0.1;
          }
          div:last-child { margin-bottom: 0; }
          &::after { content: ""; display: block; clear: both; }
        }

        /** left **/
        .left {
          top: 6px;
          div { border-right: solid 25px #fff; }
          div:nth-child(1) { animation: load-view__dire-left-3 3s linear 0s infinite; }
          div:nth-child(2) { animation: load-view__dire-left-2 3s linear 0s infinite; }
          div:nth-child(3) { animation: load-view__dire-left-1 3s linear 0s infinite; }
        }
        
        /** right **/
        .right {
          bottom: 6px;
          div { border-left: solid 25px #fff; }
          div:nth-child(1) { animation: load-view__dire-right-1 3s linear 0s infinite; }
          div:nth-child(2) { animation: load-view__dire-right-2 3s linear 0s infinite; }
          div:nth-child(3) { animation: load-view__dire-right-3 3s linear 0s infinite; }
        }

        /** bottom **/
        .bottom {
          left: 6px;
          div { border-top: solid 25px #fff; }
          div:nth-child(1) { animation: load-view__dire-bottom-1 3s linear 0s infinite; }
          div:nth-child(2) { animation: load-view__dire-bottom-2 3s linear 0s infinite; }
          div:nth-child(3) { animation: load-view__dire-bottom-3 3s linear 0s infinite; }
        }
        /** top **/
        .top {
          right: 6px;
          div { border-bottom: solid 25px #fff; }
          div:nth-child(1) { animation: load-view__dire-top-3 3s linear 0s infinite; }
          div:nth-child(2) { animation: load-view__dire-top-2 3s linear 0s infinite; }
          div:nth-child(3) { animation: load-view__dire-top-1 3s linear 0s infinite; }
        }
      }

      /*** square ***/
      .square {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        div {
          position: absolute;
          width: 40px; height: 40px;
          border: dashed 3px #fff;
          box-sizing: border-box;
          border-radius: 5px;
        }
        div:nth-child(1) { top: 10px; left: 10px; }
        div:nth-child(2) { top: 10px; right: 10px; }
        div:nth-child(3) { bottom: 10px; left: 10px; }
        div:nth-child(4) { bottom: 10px; right: 10px; }
      }

      /*** line ***/
      .line {
        position: absolute;
        top: 47px; left: 47px;
        width: calc(100% - 94px);
        height: calc(100% - 94px);

        div { position: absolute; box-sizing: border-box; }
        div:nth-child(1),
        div:nth-child(2) {
          width: 100%; height: 1px; left: 0;
          border-top: dashed 3px #fff;
        }
        div:nth-child(3),
        div:nth-child(4) {
          width: 1px; height: 100%;
          border-left: dashed 3px #fff;
        }
        div:nth-child(1) { top: 0; }
        div:nth-child(2) { bottom: 0; }
        div:nth-child(3) { left: 0; }
        div:nth-child(4) { right: 0; }
      }

      /*** rect ***/
      .rect {
        position: absolute;
        top: 90px; left: 90px;
        width: calc(100% - 180px); height: calc(100% - 180px);
        z-index: 1;

        /** bar **/
        .bar {
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          overflow: hidden;

          div {
            position: absolute;

            &::after {
              position: absolute;
              top: 0; left: 0;
              width: 100%; height: 100%;
              background-color: #fff;
              content: "";
              display: block;
            }
          }
          div:nth-child(1),
          div:nth-child(3) { left: 0; width: 100%; height: 3px; }
          div:nth-child(2),
          div:nth-child(4) { top: 0; width: 3px; height: 100%; }
          div:nth-child(1) {
            top: 0;
            &::after { transform: translateX(100%); }
          }
          div:nth-child(2) {
            left: 0;
            &::after { transform: translateY(-100%); }
          }
          div:nth-child(3) {
            bottom: 0;
            &::after { transform: translateX(-100%); }
          }
          div:nth-child(4) {
            right: 0;
            &::after { transform: translateY(100%); }
          }
          
          // animation ----------------------------------------------------------------------
          div:nth-child(1) { &::after {
            animation: load-view__rect-bar1 3s linear 0s infinite;
          }}
          div:nth-child(2) { &::after {
            animation: load-view__rect-bar2 3s linear 0s infinite;
          }}
          div:nth-child(3) { &::after {
            animation: load-view__rect-bar3 3s linear 0s infinite;
          }}
          div:nth-child(4) { &::after {
            animation: load-view__rect-bar4 3s linear 0s infinite;
          }}
        }

        /** effect **/
        .effect {
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;

          div:nth-child(4) {
            position: absolute;
            top: -23.5px; right: -23.5px;
            width: 50px; height: 50px;
            background-color: #fff;
            border-radius: 50%;
            animation: load-view__rect-effect4 3s linear 0s infinite;
          }

          div:nth-child(1),
          div:nth-child(2),
          div:nth-child(3) {
            position: absolute;
            width: 50px; height: 50px;
            border-radius: 50%;
            box-sizing: border-box;
            border: solid 20px #fff;
            opacity: 0;
          }
          div:nth-child(1) { top: -23.5px; left: -23.5px; }
          div:nth-child(2) { bottom: -23.5px; left: -23.5px; }
          div:nth-child(3) { bottom: -23.5px; right: -23.5px; }

          // animation --------------------------------------------------------------------
          div:nth-child(1) { animation: load-view__rect-effect1 3s linear 0s infinite; }
          div:nth-child(2) { animation: load-view__rect-effect2 3s linear 0s infinite; }
          div:nth-child(3) { animation: load-view__rect-effect3 3s linear 0s infinite; }
        }
      }
      
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 60px; left: 60px;
        width: calc(100% - 120px); height: calc(100% - 120px);
        background-color: $theme-light-pink;
        border-radius: 8px;
      }
    }
  }

  #load-view[data-state="fin"] {
    
  }
}
