/*** dire-left ***/
@keyframes load-view__dire-left-1 {
  0%   { opacity: 0.1; }
  5%   { opacity: 0.1; }
  15%  { opacity: 1; }
  25%  { opacity: 1; }
  35%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-left-2 {
  0%   { opacity: 0.1; }
  15%  { opacity: 0.1; }
  25%  { opacity: 1; }
  35%  { opacity: 1; }
  45%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-left-3 {
  0%   { opacity: 0.1; }
  25%  { opacity: 0.1; }
  35%  { opacity: 1; }
  45%  { opacity: 1; }
  55%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}

/*** dire-bottom ***/
@keyframes load-view__dire-bottom-1 {
  0%   { opacity: 0.1; }
  25%  { opacity: 0.1; }
  35%  { opacity: 1; }
  45%  { opacity: 1; }
  55%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-bottom-2 {
  0%   { opacity: 0.1; }
  35%  { opacity: 0.1; }
  45%  { opacity: 1; }
  55%  { opacity: 1; }
  65%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-bottom-3 {
  0%   { opacity: 0.1; }
  45%  { opacity: 0.1; }
  55%  { opacity: 1; }
  65%  { opacity: 1; }
  75%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}

/*** dire-right ***/
@keyframes load-view__dire-right-1 {
  0%   { opacity: 0.1; }
  45%  { opacity: 0.1; }
  55%  { opacity: 1; }
  65%  { opacity: 1; }
  75%  { opacity: 0.1; }
}
@keyframes load-view__dire-right-2 {
  0%   { opacity: 0.1; }
  55%  { opacity: 0.1; }
  65%  { opacity: 1; }
  75%  { opacity: 1; }
  85%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-right-3 {
  0%   { opacity: 0.1; }
  65%  { opacity: 0.1; }
  75%  { opacity: 1; }
  85%  { opacity: 1; }
  95%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}

/*** dire-top ***/
@keyframes load-view__dire-top-1 {
  0%   { opacity: 0.1; }
  60%  { opacity: 0.1; }
  70%  { opacity: 1; }
  80%  { opacity: 1; }
  90%  { opacity: 0.1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-top-2 {
  0%   { opacity: 0.1; }
  70%  { opacity: 0.1; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0.1; }
}
@keyframes load-view__dire-top-3 {
  0%   { opacity: 0.1; }
  80%  { opacity: 0.1; }
  90%  { opacity: 1; }
  100% { opacity: 1; }
}

/*** rect-bar ***/
@keyframes load-view__rect-bar1 {
  0%   { transform: translateX(100%); }
  40%  { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }
}
@keyframes load-view__rect-bar2 {
  0%   { transform: translateY(-100%); }
  20%  { transform: translateY(-100%); }
  60%  { transform: translateY(100%); }
  100% { transform: translateY(100%); }
}
@keyframes load-view__rect-bar3 {
  0%   { transform: translateX(-100%); }
  40%  { transform: translateX(-100%); }
  80%  { transform: translateX(100%); }
  100% { transform: translateX(100%); }
}
@keyframes load-view__rect-bar4 {
  0%   { transform: translateY(100%); }
  60%  { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

/*** rect-effect ***/
@keyframes load-view__rect-effect1 {
  0%   { opacity: 0; transform: scale(0.5); border-width: 20px; }
  20%  { opacity: 0; transform: scale(0.5); border-width: 20px; }
  32%  { opacity: 1; transform: scale(1.8); border-width: 0px; }
  100% { opacity: 1; transform: scale(1.8); border-width: 0px; }
}
@keyframes load-view__rect-effect2 {
  0%   { opacity: 0; transform: scale(0.5); border-width: 20px; }
  40%  { opacity: 0; transform: scale(0.5); border-width: 20px; }
  52%  { opacity: 1; transform: scale(1.8); border-width: 0px; }
  100% { opacity: 1; transform: scale(1.8); border-width: 0px; }
}
@keyframes load-view__rect-effect3 {
  0%   { opacity: 0; transform: scale(0.5); border-width: 20px; }
  60%  { opacity: 0; transform: scale(0.5); border-width: 20px; }
  72%  { opacity: 1; transform: scale(1.8); border-width: 0px; }
  100% { opacity: 1; transform: scale(1.8); border-width: 0px; }
}
@keyframes load-view__rect-effect4 {
  0%   { transform: scale(1); }
  20%  { transform: scale(0); }
  80%  { transform: scale(0); }
  100% { transform: scale(1); }
}

/*** block ***/
@keyframes load-view__block1 {
  0%   { transform: rotate(45deg) translateY(-100px); opacity: 0; }
  100% { transform: rotate(45deg) translateY(0px); opacity: 1; }
}
@keyframes load-view__block2 {
  0%   { transform: rotate(45deg) translateY(100px); opacity: 0; }
  100% { transform: rotate(45deg) translateY(0px); opacity: 1; }
}

/*** block-effect ***/
@keyframes load-view__block-effect {
  0%   { transform: scale(0.6); opacity: 0; border-width: 20px; }
  50%  { opacity: 1; }
  100% { transform: scale(1.4); opacity: 0; border-width: 5px; }
}


/*** char ***/
@keyframes load-view__char1 {
  0%   { opacity: 0; transform: rotate(-35deg) scale(0.8); }
  35%  { transform: rotate(-55deg); }
  70%  { transform: rotate(-35deg); }
  100% { opacity: 1; transform: rotate(-55deg) scale(1.0); }
}
@keyframes load-view__char2 {
  0%   { opacity: 0; transform: translate(20px, 10px) rotate(-45deg); }
  100% { opacity: 1; transform: translate(0px, 0px) rotate(-45deg); }
}
@keyframes load-view__char3 {
  0%   { opacity: 0; transform: translateX(-20px) rotate(-45deg); }
  100% { opacity: 1; transform: translateX(0px) rotate(-45deg); }
}
@keyframes load-view__char4 {
  0%   { opacity: 0; transform: translate(-20px, -20px) rotate(-45deg); }
  100% { opacity: 1; transform: translate(0, 0) rotate(-45deg); }
}
@keyframes load-view__char5 {
  0%   { opacity: 0; transform: rotate(-45deg) scale(1); }
  50%  { transform: rotate(-45deg) scale(1.2); }
  100% { opacity: 1; transform: rotate(-45deg) scale(1); }
}
@keyframes load-view__char6 {
  0%   { opacity: 0; transform: translate(0px, 0px) rotate(-45deg); }
  25%  { transform: translate(-10px, -10px) rotate(-45deg); }
  50%  { transform: translate(0px, 0px) rotate(-45deg); }
  75%  { transform: translate(-10px, -10px) rotate(-45deg); }
  100% { opacity: 1; transform: translate(0, 0) rotate(-45deg); }
}
@keyframes load-view__char7 {
  0%   { opacity: 0; transform: scale(1.4) rotate(-45deg); }
  25%  { transform: scale(1.2) rotate(-45deg); }
  50%  { opacity: 1; transform: scale(1.4) rotate(-45deg); }
  75%  { opacity: 1; transform: scale(1.2) rotate(-45deg); }
  100% { opacity: 1; transform: scale(1.4) rotate(-45deg); }
}


/*** hidden-block ***/
@keyframes load-view__hidden-block {
  0%   { transform: scale(1) rotate(45deg); opacity: 1; }
  35%  { transform: scale(1.2) rotate(45deg); opacity: 1; }
  100% { transform: scale(0.5) rotate(45deg); opacity: 0; }
}

/*** hidden-progress-bar ***/
@keyframes load-view__hidden-progress-bar {
  0%   { width: calc(100% - 200px); opacity: 1; }
  80%  { opacity: 1; }
  100% { width: 0; opacity: 0; }
}


/*** show-illust ***/
@keyframes load-view__show-illust {
  0%   { opacity: 0; transform: translateX(60px); }
  100% { opacity: 1; transform: translateX(0%); }
}

/*** hidden-illust ***/
@keyframes load-view__hidden-illust {
  0%   { opacity: 1; }
  30%  { opacity: 1; }
  100% { opacity: 0; }
}

/*** attack-illust ***/
@keyframes load-view__attack-illust {
  0%   { transform: translateY(0px); }
  30%  { transform: translateY(0px); }
  70%  { transform: translateY(-60px); }
  100% { transform: translateY(0px); }
}

/*** attack-effect ***/
@keyframes load-view__attack-effect {
  0%   { opacity: 0; transform: scale(0.5); }
  50%  { opacity: 1; }
  100% { opacity: 0; transform: scale(2.4); }
}

/*** fail-paint ***/
@keyframes load-view___fail-paint {
  0%   { top: -120px; left: calc(50% - 30px); width: 60px; height: 60px; border-radius: 50%; }
  30%  { top: calc(50% - 30px); left: calc(50% - 30px); width: 60px; height: 60px; border-radius: 50%; }
  100% { top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px; }
}


/*** figure1 ***/
@keyframes load-view__figure1-1 {
  0%   { border-top-width: 0; opacity: 0; }
  100% { border-top-width: 50px; opacity: 1; }
}
@keyframes load-view__figure1-2 {
  0%   { height: 0; opacity: 0; }
  100% { height: 50px; opacity: 1; }
}
@keyframes load-view__figure1-3 {
  0%   { transform: translateY(-50px); opacity: 0; }
  30%  { transform: translateY(0px); opacity: 1; }
  65%  { transform: translateY(-15px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

/*** figure2 ***/
@keyframes load-view__figure2-1 {
  0%   { transform: translateY(-30px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes load-view__figure2-2 {
  0%   { transform: translateY(-50px); opacity: 0; }
  30%  { transform: translateY(0px); opacity: 1; }
  65%  { transform: translateY(-15px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes load-view__figure2-3 {
  0%   { transform: translateY(30px) rotate(90deg); opacity: 0; }
  100% { transform: translateY(0px) rotate(0deg); opacity: 1; }
}

/*** figure3 ***/
@keyframes load-view__figure3-1 {
  0%   { transform: translateY(-50px); opacity: 0; }
  30%  { transform: translateY(0px); opacity: 1; }
  65%  { transform: translateY(-15px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes load-view__figure3-2 {
  0%   { transform: translateY(30px) rotate(90deg); opacity: 0; }
  100% { transform: translateY(0px) rotate(0deg); opacity: 1; }
}
@keyframes load-view__figure3-3 {
  0%   { transform: translateY(-30px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}
@keyframes load-view__figure3-6 {
  0%   { border-top-width: 0; opacity: 0; }
  100% { border-top-width: 50px; opacity: 1; }
}

/*** catchcopy ***/
@keyframes load-view__catchcopy {
  0%   { opacity: 0; transform: scale(1.15); }
  100% { opacity: 1; transform: scale(1.0); }
}
@keyframes load-view__catchcopy-bg1 {
  0%   { background-color: $theme-light-pink; }
  100% { background-color: $theme-bg; }
}
@keyframes load-view__catchcopy-bg2 {
  0%   { background-color: $theme-bg; }
  100% { background-color: #9994A6; }
}
@keyframes load-view__catchcopy-bg3 {
  0%   { background-color: #9994A6; }
  100% { background-color: $theme-gray; }
}


/*** arrow ***/
@keyframes load-view__arrow {
  0%   { transform: translateX(calc(-100% - 3px)); }
  100% { transform: translateX(0%); }
}


/*** ribbon ***/
@keyframes load-view__ribbon-1 {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}
@keyframes load-view__ribbon-2 {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}
@keyframes load-view__ribbon-3 {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}
@keyframes load-view__ribbon-4 {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}
