$min-width: 1100px;
$min-height: 650px;

$theme-bg: #FCFCF3;           // 背景色
$theme-gray: #E4D6CE;         // 灰色
$theme-pink: #C2617E;         // ピンク
$theme-light-pink: #E5B8BD;   // 薄ピンク
$theme-purple: #4A3F55;       // 紫
$theme-light-purple: #817487; // 薄紫
