# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build and Deploy

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "yarn"
      - run: yarn install --ignore-engines
      - run: yarn build
      - name: Upload pages artifacts
        # https://github.com/actions/upload-pages-artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "public/"

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/master'
        # https://github.com/actions/deploy-pages
        uses: actions/deploy-pages@v2.0.0